@model LancheListViewModel

@{
    ViewData["Title"] = "List";
}

<div><h2>@Model.CategoriaAtual</h2></div>

<div class="row">
    @foreach (var lanche in Model.Lanches)
    {
        <div class="col-md-4">
            <div class="img-thumbnail">
                <img src="@lanche.ImagemUrl" class="img-rounded" alt="" />
            </div>
            <div class="figure-caption">
                <h3 class="pull-right">@lanche.Preco.ToString("c")</h3>
                <h3>@lanche.Nome</h3>
                <p>@lanche.DescricaoCurta</p>
            </div>
        </div>
    }
</div>
